node_modules/
.next/
out/
build/
dist/
*.config.js
*.config.mjs
prisma/generated/
pages/api/qr/index.ts
src/app/api/qr/
src/app/api/admin/admin-users/
src/app/lib/qrCodeUtils.ts
src/app/components/layout/qr/QRCodeSettings.ts 